.login_background_image {
	background: linear-gradient(rgba(1, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../assets/images/second-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	min-height:100vh
}

@media (max-width: 600px) {
	.login_background_image {
		background: linear-gradient(rgba(1, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../assets/images/second-background.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		min-height:120vh
	}
	.content-size{
		font-size: 20px !important;
	}
	.login_background_image2 {
		background: linear-gradient(rgba(1, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../assets/images/second-background.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		min-height:150vh
	}
  }

.center-content{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
  }
  .form_background_image {
	background: linear-gradient(rgba(1, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../assets/images/login-bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	/* height:100vh */
}
i{
	color: #17A2B8
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important; 
    margin-left: 0px !important;
}

/* for navbar component */
.ant-drawer-body{
	background-color: rgb(65, 58, 118) !important;
}